@import url('normalize.css');


body{
margin: 0 auto;
font-family: "TT Lakes";
background-color: #F2F2F2;
}
.wrapper {
	width: 320px;
	position:fixed;
	left:0;
	top:0;
	background-color:#FFFFFF;
	box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
	height: 100%;
	overflow: auto;
}
.menu{
	height: 100%;
	width: 272px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu__header {
	display: flex;
	align-items:center;
	justify-content:flex-start;
	padding-top:24px;
	margin-bottom: 47px;
}
.menu__burger {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color:#FF3E79;
	align-self:center;
	margin-right: 16px;

}
.menu__burger:hover{
	transition: 0.5s ease;
	opacity: 0.5;
}
.menu__burger::before,
.menu__burger::after{
	content: '';
	background-color: #FFFFFF;
	position: absolute;
	width: 51%;
	height: 2px;
	left: 10px;
}
.menu__burger::before{
	top: 19px;
	transform: rotate(45deg);
}
.menu__burger::after{
bottom:19px;
transform: rotate(-45deg);
}
.menu__burger span{
	display: none;
position: absolute;
width: 25%;
height: 2px;
background-color:#FFFFFF;
left: 11px;
top: 19px;
}
.menu__logo {
	display: block;
	margin-right:auto;
	}
.search{
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color:#FF3E79;
	align-self:center;

}
.search img {
	position: absolute;
	top:25%;
	left: 30%;
}
.search:hover {
	opacity: 0.5;
	transition: 0.5s ease;
}
.menu__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: auto;
}
.menu__item {
	display: block;
	position: relative;
font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;
color: #1B1C21;
margin-bottom: 32px;
}

.menu__item:hover {
color: #7E7E82;
}
.menu__item:hover::before{
	content: '';
	position: absolute;
	height: 32px;
	width: 4px;
	background-color: #41F6D7;
	bottom:-5px;
	left:-24px;
	border-top-right-radius: 6px ;
	border-bottom-right-radius: 6px ;

	}
.menu__contact{
}
.menu__widget {
	display: flex;
	justify-content: flex-start;
	gap:16px;
	margin-bottom: 16px;
}
.menu__call {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color:#FF3E79;
	align-self:center;
}
.call img{
	position: absolute;
	top:25%;
	left: 25%;
}
.call:hover{
		transition: 0.5s ease;
		opacity: 0.5;
}
.menu__message {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color:#FF3E79;
	align-self:center;
}
.message img{
	position: absolute;
	top:25%;
	left: 25%;
	width: 20px;
	height: 20px;
}
.message:hover{
	transition: 0.5s ease;
	opacity: 0.5;
}
.menu__profile {
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color:#FF3E79;
	align-self:center;
	margin-right: 20px;
}
.profile img{
	position: absolute;
	top:25%;
	left: 25%;
	width: 20px;
	height: 20px;
}
.profile:hover{
	transition: 0.5s ease;
	opacity: 0.5;
}
.menu__mail {
display:block;
font-family: TT Lakes;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;
color:#1B1C21;
margin-bottom: 12px;
width: fit-content;
}
.menu__mail:hover{
	transition: 0.5s ease;
	opacity: 0.5;
}
.menu__number {
	display:block;
	font-family: TT Lakes;
font-size: 24px;
line-height: 32px;
letter-spacing: -0.6000000238418579px;
text-align: left;
color:#1B1C21;
font-weight: bold;
margin-bottom: 40px;
width: fit-content;
}
.menu__number:hover{
	transition: 0.5s ease;
	opacity: 0.5;
}
.menu__language {
	margin-bottom: 32px;
	display: flex;
	justify-content: flex-start;
	gap: 7px;
}
.language{
	background-color: transparent;
	text-transform:uppercase;
	color: #1B1C21;
}
.language:hover{
	color:#7E7E82;
}
.menu__ru {

}
.menu__eng {

}
.menu__ch {

}