/*!*******************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!./fonts/font.css ***!
  \*******************************************************************/
@font-face {
    font-family: 'TT Lakes';
    src: url(../dbae4643cf85b9f28f79.eot);
    src: local('TT Lakes Italic'), local('TTLakes-Italic'),
        url(../dbae4643cf85b9f28f79.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Italic.woff) format('woff'),
        url(../26ca81ec5197d586843b.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../b8dc787734e2cd887a0a.eot);
    src: local('TT Lakes ExtraLight Italic'), local('TTLakes-ExtraLightItalic'),
        url(../b8dc787734e2cd887a0a.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-ExtraLightItalic.woff) format('woff'),
        url(../c094599d71f523a88987.ttf) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../4f8c6699c2edc699335c.eot);
    src: local('TT Lakes Light Italic'), local('TTLakes-LightItalic'),
        url(../4f8c6699c2edc699335c.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-LightItalic.woff) format('woff'),
        url(../314a2a469e71c92175d9.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../307b48c4ef15903aca68.eot);
    src: local('TT Lakes Thin'), local('TTLakes-Thin'),
        url(../307b48c4ef15903aca68.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Thin.woff) format('woff'),
        url(../19611f3ea02a1cb49211.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../9e8f23e26ddfced42c07.eot);
    src: local('TT Lakes DemiBold Italic'), local('TTLakes-DemiBoldItalic'),
        url(../9e8f23e26ddfced42c07.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-DemiBoldItalic.woff) format('woff'),
        url(../93f95d4f13de5696f822.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../7a80c43f5cd389bcc61e.eot);
    src: local('TT Lakes ExtraBold Italic'), local('TTLakes-ExtraBoldItalic'),
        url(../7a80c43f5cd389bcc61e.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-ExtraBoldItalic.woff) format('woff'),
        url(../934db0792162323c8803.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../ef8890ff13442b955907.eot);
    src: local('TT Lakes ExtraLight'), local('TTLakes-ExtraLight'),
        url(../ef8890ff13442b955907.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-ExtraLight.woff) format('woff'),
        url(../4822413996f5a46aae5e.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../c241ebcfcbd5a82503ea.eot);
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url(../c241ebcfcbd5a82503ea.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Bold.woff) format('woff'),
        url(../8747246cd48097156cbb.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../7c23653303b7cc5c6dd3.eot);
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url(../7c23653303b7cc5c6dd3.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-DemiBold.woff) format('woff'),
        url(../eb5504be3219a95bcfc3.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../98d6a5bf712f1ef0d0cc.eot);
    src: local('TT Lakes Black'), local('TTLakes-Black'),
        url(../98d6a5bf712f1ef0d0cc.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Black.woff) format('woff'),
        url(../4101b838e02fe5fcd060.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../e0880e8f1e6c826b2991.eot);
    src: local('TT Lakes Medium Italic'), local('TTLakes-MediumItalic'),
        url(../e0880e8f1e6c826b2991.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-MediumItalic.woff) format('woff'),
        url(../0a353e8b1ad71db46830.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../018ab39c10b6a4a7146a.eot);
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url(../018ab39c10b6a4a7146a.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Medium.woff) format('woff'),
        url(../1db5f8df31efefe6bea1.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../c794c866fb368b7f82aa.eot);
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url(../c794c866fb368b7f82aa.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Regular.woff) format('woff'),
        url(../a0bf8bd54132d614be5d.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../802bf013be2fa65d6b84.eot);
    src: local('TT Lakes Bold Italic'), local('TTLakes-BoldItalic'),
        url(../802bf013be2fa65d6b84.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-BoldItalic.woff) format('woff'),
        url(../34b4a71442b0e70a6e54.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Lakes';
    src: url(../aafd911df7f299be4637.eot);
    src: local('TT Lakes Thin Italic'), local('TTLakes-ThinItalic'),
        url(../aafd911df7f299be4637.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-ThinItalic.woff) format('woff'),
        url(../0ed40d2f7083454925c2.ttf) format('truetype');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../28ea72af4983098873d6.eot);
    src: local('TT Lakes Black Italic'), local('TTLakes-BlackItalic'),
        url(../28ea72af4983098873d6.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-BlackItalic.woff) format('woff'),
        url(../2bfcd8fd187c21757df4.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../6d8e4638d93c1858c8ac.eot);
    src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
        url(../6d8e4638d93c1858c8ac.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-ExtraBold.woff) format('woff'),
        url(../ac29aac0d1ad5c15ed57.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'TT Lakes';
    src: url(../df31e7e6cfca7d69ff04.eot);
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url(../df31e7e6cfca7d69ff04.eot?#iefix) format('embedded-opentype'),
        url(../fonts/TTLakes-Light.woff) format('woff'),
        url(../2a626102d317f419cd0a.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}


/*!***********************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/main.scss ***!
  \***********************************************************************************************************/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
f:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
f:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

body {
  margin: 0 auto;
  font-family: "TT Lakes";
  background-color: #f2f2f2; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 0px 0px #d9fff5;
  -moz-box-shadow: 0px 1px 0px 0px #d9fff5;
  box-shadow: 0px 1px 0px 0px #d9fff5; }
  .header .header__body {
    display: flex;
    justify-content: flex-start;
    padding: 19px 16px;
    gap: 16px; }
  .header .header__burger {
    display: block;
    position: relative; }
    .header .header__burger .header__burger span {
      position: absolute;
      width: 25%;
      height: 2px;
      background-color: #ffffff;
      left: 11px;
      top: 19px; }
  .header .header__burger::before,
  .header .header__burger::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 45%;
    height: 2px;
    left: 11px; }
  .header .header__burger span {
    position: absolute;
    width: 25%;
    height: 2px;
    background-color: #ffffff;
    left: 11px;
    top: 19px; }
  .header .header__burger::before {
    top: 12px; }
  .header .header__burger::after {
    bottom: 12px; }

.header__call {
  display: none; }

.header__message {
  display: none; }

.header__profile {
  display: none; }

.header__logo {
  position: relative;
  margin-right: auto; }

.repair {
  display: block;
  position: relative; }
  .repair img {
    position: absolute;
    top: 25%;
    left: 25%; }

.header__repair::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  left: -16px;
  top: 4px; }

.checkstatus {
  display: block;
  position: relative; }
  .checkstatus img {
    position: absolute;
    top: 25%;
    left: 30%; }

.main {
  margin-top: 88px;
  margin-bottom: 16px; }
  .main .main__container {
    margin: 24px 16px 0; }

.title {
  padding-top: 20px;
  position: relative;
  margin-bottom: 24px;
  display: flex;
  gap: 32px;
  align-items: center; }
  .title::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #41f6d7;
    left: -16px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .title .title__text {
    font-size: 28px;
    line-height: 4rem;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    color: #1b1c21;
    font-weight: bold;
    margin-right: auto; }
  .title .title__repair {
    display: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02rem;
    text-align: right;
    white-space: nowrap;
    margin-right: 64px;
    position: relative; }
    .title .title__repair::before {
      content: "";
      position: absolute;
      right: -50px;
      bottom: -8px; }
    .title .title__repair::after {
      content: url(../img/repair.svg);
      position: absolute;
      right: -41px;
      bottom: -5px; }
  .title .title__checkstatus {
    display: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.02rem;
    text-align: right;
    white-space: nowrap;
    margin-right: 49px;
    position: relative; }
    .title .title__checkstatus::before {
      content: "";
      position: absolute;
      right: -50px;
      bottom: -8px; }
    .title .title__checkstatus::after {
      content: url(../img/checkstatus.svg);
      position: absolute;
      right: -38px;
      bottom: -5px; }

.sliderMenu {
  min-width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  padding-bottom: 24px; }
  .sliderMenu .sliderMenu__button {
    padding: 8px 9px 8px 16px;
    border: 2px solid #f2f2f2;
    border-radius: 6px;
    background-color: #f2f2f2; }
    .sliderMenu .sliderMenu__button p {
      color: #7e7e82;
      white-space: nowrap; }
    .sliderMenu .sliderMenu__button:hover, .sliderMenu .sliderMenu__button:focus {
      background: #ffffff;
      border: 2px solid #b8ffec;
      border-radius: 6px;
      transition: 0.5s ease; }

.block1 {
  display: flex;
  flex-wrap: wrap; }
  .block1 .block1__text {
    min-height: 90px;
    max-height: 100%;
    overflow: hidden; }
    .block1 .block1__text p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      letter-spacing: 0.02rem;
      color: #1b1c21;
      padding-bottom: 20px; }
      .block1 .block1__text p:last-child {
        padding-bottom: 0; }
  .block1 .block1__readMore {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin: 24px 0 20px 40px;
    position: relative; }
    .block1 .block1__readMore::before {
      content: attr(data-icon);
      position: absolute;
      background-image: url(../img/button_down.svg);
      left: -17px;
      top: 20%;
      width: 7.5px;
      height: 10.29px;
      transform: none;
      transition: all;
      transition-duration: 1000ms; }
  .block1 .block1__image {
    width: 100%; }
  .block1 .block1__text_closed {
    height: 90px; }

.down.block1__readMore::before {
  transform: rotate(180deg); }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
f:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

body {
  font-family: "TT Lakes";
  background-color: #f2f2f2; }

.menu {
  width: 320px;
  position: fixed;
  top: 0;
  left: -320px;
  background-color: #ffffff;
  height: 100vh;
  overflow: auto;
  z-index: 2;
  transition-duration: 0.5s;
  transition-timing-function: ease; }

.menu__opened {
  left: 0; }

.menu__container {
  height: 100%;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  background-color: #ffffff;
  padding: 0 24px; }

.menu__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 24px;
  margin-bottom: 47px; }
  .menu__header .menu__burger {
    display: block;
    position: relative;
    margin-right: 16px; }
    .menu__header .menu__burger::after, .menu__header .menu__burger::before {
      content: "";
      background-color: #ffffff;
      position: absolute;
      width: 51%;
      height: 2px;
      left: 10px; }
    .menu__header .menu__burger::before {
      top: 19px;
      transform: rotate(45deg); }
    .menu__header .menu__burger::after {
      bottom: 19px;
      transform: rotate(-45deg); }
    .menu__header .menu__burger span {
      display: none;
      position: absolute;
      width: 25%;
      height: 2px;
      background-color: #ffffff;
      left: 11px;
      top: 19px; }
  .menu__header .menu__logo {
    display: block;
    margin-right: auto; }
  .menu__header .search {
    display: block;
    position: relative; }
    .menu__header .search img {
      position: absolute;
      top: 25%;
      left: 30%; }

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: auto; }
  .menu__list .menu__item {
    display: block;
    position: relative;
    font-family: TT Lakes;
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #1b1c21;
    margin-bottom: 32px; }
    .menu__list .menu__item:hover {
      color: #7e7e82; }
    .menu__list .menu__item:hover::before {
      content: "";
      position: absolute;
      height: 32px;
      width: 4px;
      background-color: #41f6d7;
      bottom: -5px;
      left: -24px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }

.menu__contact .menu__widget {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px; }
  .menu__contact .menu__widget .call {
    display: block;
    position: relative; }
    .menu__contact .menu__widget .call img {
      position: absolute;
      top: 25%;
      left: 25%; }
  .menu__contact .menu__widget .message {
    display: block;
    position: relative; }
    .menu__contact .menu__widget .message img {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 20px;
      height: 20px; }
  .menu__contact .menu__widget .profile {
    display: block;
    position: relative;
    margin-right: 20px; }
    .menu__contact .menu__widget .profile img {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 20px;
      height: 20px; }

.menu__contact .menu__mail {
  display: block;
  font-family: TT Lakes;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #1b1c21;
  margin-bottom: 12px;
  width: fit-content; }

.menu__contact .menu__number {
  display: block;
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  color: #1b1c21;
  font-weight: bold;
  margin-bottom: 40px;
  width: fit-content; }

.menu__language {
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  gap: 7px; }
  .menu__language .language {
    background-color: transparent;
    text-transform: uppercase;
    color: #1b1c21; }
    .menu__language .language:hover {
      color: #7e7e82; }

.menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.menu__opened .menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
f:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

.wrapper {
  margin: 0 auto; }

.brands {
  border-top: 1px solid #41f6d7;
  position: relative;
  margin-bottom: 40px; }
  .brands .brands__title {
    font-family: TT Lakes;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 16px 0;
    text-transform: uppercase;
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    margin-bottom: 16px; }
    .brands .brands__title h1 {
      padding: 0 16px; }
  .brands .brands__list {
    padding: 0 16px;
    min-width: 320px; }
    .brands .brands__list .brands__item {
      display: flex;
      height: 72px;
      width: 240px;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff; }
      .brands .brands__list .brands__item > img {
        display: block;
        object-fit: scale-down;
        margin-left: 16px; }
      .brands .brands__list .brands__item .brands__button {
        margin-right: 16px; }
  .brands .swiper-pagination-bullets {
    bottom: -30px; }

.brands-swiper {
  margin-bottom: 30px; }

.brands__light-shadow {
  width: 24px;
  height: 81px;
  background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  position: absolute;
  right: 0;
  top: 65px;
  z-index: 100; }

.brands .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #b5b6bc; }

.brands__readMore {
  display: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  margin-top: 24px;
  margin-left: 63px;
  position: relative; }
  .brands__readMore::before {
    content: attr(data-icon);
    position: absolute;
    background-image: url(../img/button_down.svg);
    left: -17px;
    top: 20%;
    width: 7.5px;
    height: 10.29px;
    transform: none;
    transition: all;
    transition-duration: 1000ms; }

.down.brands__readMore::before {
  transform: rotate(180deg); }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
f:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

.tech-types {
  margin: 0 auto;
  border-top: 1px solid #41f6d7;
  position: relative; }
  .tech-types .tech-types__title {
    font-family: TT Lakes;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 16px 0;
    text-transform: uppercase;
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    margin-bottom: 40px; }
  .tech-types h1 {
    padding: 0 16px; }
  .tech-types .tech-types__list {
    padding: 0 16px;
    min-width: 320px; }
    .tech-types .tech-types__list .tech-types__item {
      width: 240px;
      height: 160px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      position: relative;
      display: flex;
      justify-content: space-between;
      column-gap: 32px;
      padding: 16px; }
      .tech-types .tech-types__list .tech-types__item span {
        display: block;
        font-family: 'TT Lakes';
        font-size: 1.6rem;
        line-height: 24px;
        /* identical to box height, or 150% */
        letter-spacing: -0.2px; }
  .tech-types .tech-types__button {
    align-self: flex-end; }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

@media (min-width: 768px) {
  .header__body {
    padding: 19px 24px; }
  .header__logo {
    margin-left: 20px;
    margin-right: auto; }
    .header__logo::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      left: -20px;
      top: 25%; }
  .header__call {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff3e79;
    align-self: center; }
    .header__call img {
      position: absolute;
      top: 25%;
      left: 25%; }
  .header__message {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff3e79;
    align-self: center; }
    .header__message img {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 20px;
      height: 20px; }
  .header__profile {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff3e79;
    align-self: center;
    margin-right: 20px; }
    .header__profile img {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 20px;
      height: 20px; }
  .main .main__container {
    margin: 24px 24px 0; }
  .main .main__title::before {
    left: -24px; }
  .title::before {
    left: -24px; }
  .block1 {
    column-gap: 48px; }
  .block1__content {
    flex-basis: 45%; }
  .block1__image {
    flex-basis: 48%; }
  .brands__title {
    padding: 16px 24px; }
  .swiper-pagination {
    display: none; }
  .brands__readMore {
    display: block; }
  .brands {
    margin-bottom: 32px; }
    .brands .brands__title {
      background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%); }
      .brands .brands__title h1 {
        padding-left: 24px; }
    .brands .brands__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 24px;
      row-gap: 16px;
      padding: 0 24px 0 24px; }
      .brands .brands__list .brands__item {
        width: 31%; }
    .brands .brands__list.closed {
      height: 160px;
      overflow: hidden; }
  .swiper-wrapper {
    box-sizing: border-box; }
  .brands__light-shadow {
    display: none; } }

.header .header__burger, .repair, .checkstatus, .title .title__repair::before, .title .title__checkstatus::before, .menu__header .menu__burger, .menu__header .search, .menu__contact .menu__widget .call, .menu__contact .menu__widget .message, .menu__contact .menu__widget .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center; }

.header .header__burger:hover, .header__call:hover, .header__message:hover, .header__profile:hover, .repair:hover, .checkstatus:hover, .title .title__repair:hover, .title .title__checkstatus:hover, .menu__header .menu__burger:hover, .menu__header .search:hover, .menu__contact .menu__widget .call:hover, .menu__contact .menu__widget .message:hover, .menu__contact .menu__widget .profile:hover, .menu__contact .menu__mail:hover, .menu__contact .menu__number:hover {
  transition: 0.5s ease;
  opacity: 0.5; }

.brands .brands__list .brands__item .brands__button, .tech-types .tech-types__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #ff3e79;
  border-radius: 50%; }
  .brands .brands__list .brands__item .brands__button img, .tech-types .tech-types__button img {
    position: absolute;
    top: 13px;
    left: 16px; }

@media (min-width: 1366px) {
  .header__body {
    display: none !important; }
  .menu {
    left: 0px;
    box-shadow: none; }
    .menu .menu__burger {
      display: none; }
  .main {
    margin-left: 320px;
    margin-top: 0px; }
    .main .main__container {
      margin-top: 42px; }
    .main .main__title {
      padding-top: 0; }
  .sliderMenu {
    flex-wrap: wrap; }
    .sliderMenu .sliderMenu__button {
      padding: 8px 22px 7px 23px; }
  .title {
    padding: 0; }
    .title .title__repair {
      display: block; }
      .title .title__repair::after {
        display: block; }
    .title .title__checkstatus {
      display: block; }
  .brands {
    margin-left: 320px; }
    .brands .brands__title {
      padding: 16px 32px 16px; }
    .brands .brands__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 32px;
      row-gap: 16px;
      padding: 0 32px 0 32px;
      margin-top: 24px; }
      .brands .brands__list .brands__item {
        width: 22.5%; }
    .brands .brands__readMore {
      margin-left: 63px; } }

.wrapper {
  position: relative; }


/*# sourceMappingURL=main.css.map*/