@import "variables.scss";

.footer {
	border-top: 1px solid $hl-color;
	.footer__container {
		padding: 0 16px;
		p {
			display: block;
			font-family: TT Lakes;
			font-size: 1.4rem;
			line-height: 16px;
			letter-spacing: 0px;
			text-align: center;
			color: $title-text-color;
			margin-bottom: 16px;
			&:nth-child(1) {
				margin-top: 16px;
			}
		}
	}
}
