@import "variables.scss";

body {
	margin: 0 auto;
	font-family: "TT Lakes";
	background-color: $body-bg;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: $block-bg;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(217, 255, 245, 1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(217, 255, 245, 1);
	box-shadow: 0px 1px 0px 0px rgba(217, 255, 245, 1);
	.header__body {
		display: flex;
		justify-content: flex-start;
		padding: 19px 16px;
		gap: 16px;
		position: relative;
		z-index: 0;
		align-items: center;
	}
	.header__burger {
		z-index: -3;
		display: block;
		position: relative;
		@extend %icon;
		&:hover {
			@extend %transition;
		}
		.header__burger span {
			position: absolute;
			width: 25%;
			height: 2px;
			background-color: $icon-color;
			left: 11px;
			top: 19px;
		}
	}
	.header__burger::before,
	.header__burger::after {
		content: "";
		background-color: $icon-color;
		position: absolute;
		width: 45%;
		height: 2px;
		left: 11px;
	}
	.header__burger span {
		position: absolute;
		width: 25%;
		height: 2px;
		background-color: $icon-color;
		left: 11px;
		top: 19px;
	}
	.header__burger::before {
		top: 12px;
	}
	.header__burger::after {
		bottom: 12px;
	}
	.header__call {
		display: none;
		&:hover {
			@extend %transition;
		}
	}
	.header__message {
		display: none;
		&:hover {
			@extend %transition;
		}
	}
	.header__profile {
		display: none;
		&:hover {
			@extend %transition;
		}
	}
	.header__logo {
		position: relative;
		margin-right: auto;
	}
	.repair {
		display: block;
		position: relative;
		@extend %icon;
		&:hover {
			@extend %transition;
		}
		img {
			position: absolute;
			top: 25%;
			left: 25%;
		}
	}
	.header__repair::after {
		content: "";
		position: absolute;
		width: 2px;
		height: 32px;
		background-color: #eaeaea;
		left: -16px;
		top: 4px;
	}
	.checkstatus {
		display: block;
		position: relative;
		@extend %icon;
		&:hover {
			@extend %transition;
		}
		img {
			position: absolute;
			top: 25%;
			left: 30%;
		}
	}
}
.main {
	margin-top: 88px;
	margin-bottom: 16px;
	.main__container {
		margin: 24px 16px 0;
		.title {
			padding-top: 20px;
			position: relative;
			margin-bottom: 24px;
			display: flex;
			gap: 32px;
			align-items: center;
			&::before {
				content: "";
				position: absolute;
				height: 40px;
				width: 4px;
				background-color: $hl-color;
				left: -16px;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
			.title__text {
				font-size: 28px;
				line-height: 4rem;
				letter-spacing: -0.6000000238418579px;
				text-align: left;
				color: #1b1c21;
				font-weight: bold;
				margin-right: auto;
			}
			.title__repair {
				display: none;
				font-size: $titles-fz;
				line-height: 2.4rem;
				letter-spacing: -0.02rem;
				text-align: right;
				white-space: nowrap;
				margin-right: 64px;
				position: relative;
				&:hover {
					@extend %transition;
				}
				&::before {
					content: "";
					position: absolute;
					@extend %icon;
					right: -50px;
					bottom: -8px;
				}
				&::after {
					content: url("../img/icons/repair.svg");
					position: absolute;
					right: -41px;
					bottom: -5px;
				}
			}
			.title__checkstatus {
				display: none;
				font-size: $titles-fz;
				line-height: 2.4rem;
				letter-spacing: -0.02rem;
				text-align: right;
				white-space: nowrap;
				margin-right: 49px;
				position: relative;
				&:hover {
					@extend %transition;
				}
				&::before {
					content: "";
					position: absolute;
					@extend %icon;
					right: -50px;
					bottom: -8px;
				}
				&::after {
					content: url("../img/icons/checkstatus.svg");
					position: absolute;
					right: -38px;
					bottom: -5px;
				}
			}
		}
	}
	.sliderMenu {
		min-width: 100%;
		display: flex;
		overflow-x: auto;
		overflow-y: auto;
		flex-wrap: nowrap;
		scroll-behavior: smooth;
		padding-bottom: 24px;
		.sliderMenu__button {
			padding: 8px 9px 8px 16px;
			border: 2px solid $slider-color;
			border-radius: 6px;
			background-color: $slider-color;
			p {
				color: #7e7e82;
				white-space: nowrap;
			}
			&:hover,
			&:focus {
				background: #ffffff;
				border: 2px solid #b8ffec;
				border-radius: 6px;
				transition: 0.5s ease;
			}
		}
	}

	.block1 {
		display: flex;
		flex-wrap: wrap;
		.block1__text {
			min-height: 90px;
			max-height: 100%;
			overflow: hidden;
			p {
				font-size: $main-fz;
				line-height: 1.8rem;
				letter-spacing: 0.02rem;
				color: #1b1c21;
				padding-bottom: 20px;
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		.block1__readMore {
			font-family: TT Lakes;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: -0.20000000298023224px;
			text-align: left;
			margin: 24px 0 20px 40px;
			position: relative;
			&::before {
				content: attr(data-icon);
				position: absolute;
				background-image: url("../img/icons/button_down.svg");
				left: -17px;
				top: 20%;
				width: 7.5px;
				height: 10.29px;
				transform: none;
				transition: all;
				transition-duration: 1000ms;
			}
		}
		.block1__image {
			width: 100%;
		}
		.block1__text_closed {
			height: 90px;
		}
	}
}

.down.block1__readMore::before {
	transform: rotate(180deg);
}
