@import "variables.scss";

@media (min-width: 1366px) {
	.header {
		.header__body {
			display: none;
		}
		.menu {
			left: 0px;
			box-shadow: none;
			z-index: -1;
			.menu__header {
				padding-top: 32px;
			}
			.menu__container{
				.menu__burger {
					display: none;
				}
			}
			
		}
	}

	.main {
		margin-left: 320px;
		margin-top: 0px;
		.main__container {
			margin-top: 42px;
			.title {
				padding: 0;
				.title__repair {
					display: block;
					&::after {
						display: block;
					}
				}
				.title__checkstatus {
					display: block;
				}
			}
			.sliderMenu {
				flex-wrap: wrap;
				.sliderMenu__button {
					padding: 8px 22px 7px 23px;
				}
			}
		}
		.main__title {
			padding-top: 0;
		}
	}

	.brands {
		margin-left: 320px;
		.brands__title {
			padding: 16px 0;
			h2 {
				padding-left: 32px;
			}
		}
		.brands__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			column-gap: 32px;
			row-gap: 16px;
			padding: 0 32px 0 32px;
			margin-top: 24px;
			.brands__item {
				flex-shrink: 1;
			}
		}
		.brands__readMore {
			margin-left: 63px;
		}
	}
	.tech-types {
		margin-left: 320px;
		.tech-types__title {
			padding: 16px 0;
			h2 {
				padding-left: 32px;
			}
		}
		.tech-types__list {
			display: flex;
			flex-wrap: wrap;
			column-gap: 24px;
			row-gap: 16px;
			padding: 0 32px;
			.tech-types__item {
				max-width: 23%;
			}
		}
		.tech-types__readMore {
			display: block;
		}
	}
	.price {
		margin-left: 320px;
		.price__title {
			h2 {
				padding: 0 32px;
			}
		}
		.price__list {
			padding: 0 32px;
			.price__row,
			.price__row_title {
				padding: 0 24px;
				p {
					&:nth-child(1) {
						flex-basis: 44.5%;
					}
					&:nth-child(2) {
						flex-basis: 21.5%;
					}
					&:nth-child(3) {
						flex-basis: 18.2%;
					}
				}
			}
		}
		.price__description {
			padding-left: 32px;
		}
		.price__get {
			padding: 0 32px;
		}
	}
	.footer {
		margin-left: 320px;
		.footer__conteiner {
			padding: 0 32px;
		}
	}
}
