@import "variables.scss";

@media (min-width: 768px) {
	.header {
		.header__body {
			padding: 19px 24px;
			.header__logo {
				margin-left: 20px;
				margin-right: auto;
				&::after {
					content: "";
					position: absolute;
					width: 2px;
					height: 32px;
					background-color: #eaeaea;
					left: -20px;
					top: 25%;
				}
			}
			.header__call {
				display: block;
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $icon-bg;
				align-self: center;
				img {
					position: absolute;
					top: 25%;
					left: 25%;
				}
			}
			.header__message {
				display: block;
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $icon-bg;
				align-self: center;
				img {
					position: absolute;
					top: 25%;
					left: 25%;
					width: 20px;
					height: 20px;
				}
			}
			.header__profile {
				display: block;
				position: relative;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $icon-bg;
				align-self: center;
				margin-right: 20px;
				img {
					position: absolute;
					top: 25%;
					left: 25%;
					width: 20px;
					height: 20px;
				}
			}
		}
	}
	.main {
		.main__container {
			margin: 24px 24px 0;
			.title {
				&::before {
					left: -24px;
				}
			}
		}
		.main__title::before {
			left: -24px;
		}
		.block1 {
			column-gap: 48px;
			.block1__content {
				flex-basis: 45%;
			}
			.block1__image {
				flex-basis: 48%;
			}
		}
	}
	.brands {
		margin-bottom: 32px;
		.brands__title {
			background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
			h2 {
				padding-left: 24px;
			}
		}
		.brands__list {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			column-gap: 24px;
			row-gap: 16px;
			padding: 0 24px 0 24px;

			.brands__item {
				width: 31%;
			}
		}
		.brands__list.closed {
			height: 160px;
			overflow: hidden;
		}
		.swiper-wrapper {
			box-sizing: border-box;
		}
		.swiper-pagination {
			display: none;
		}
		.brands__readMore {
			display: block;
		}
	}
	.tech-types {
		.tech-types__title {
			h2 {
				padding-left: 24px;
			}
		}
		.tech-types__list {
			display: flex;
			flex-wrap: wrap;
			column-gap: 24px;
			row-gap: 16px;
			justify-content: flex-start;
			.tech-types__item {
				width: 31%;
			}
		}
		.tech-types__readMore {
			display: block;
		}
		.tech-types__list.closed {
			height: 170px;
			overflow: hidden;
		}
	}
	.price {
		.price__title {
			h2 {
				padding-left: 24px;
			}
		}
		.price__slider {
			display: none;
		}
		.price__list {
			display: block;
			min-width: 720px;
			margin: 0 auto;
			padding: 0 24px;
			.price__row,
			.price__row_title {
				height: 50px;
				display: flex;
				flex-direction: row;
				font-family: TT Lakes;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0px;
				text-align: left;
				align-items: center;
				padding: 0 16px;
				p {
					display: inline-block;
					&:nth-child(1) {
						flex-basis: 54%;
					}
					&:nth-child(2) {
						flex-basis: 13.3%;
					}
					&:nth-child(3) {
						flex-basis: 16%;
					}
				}
			}
			.price__row {
				height: 80px;
				background-color: $block-bg;
				color: $text-color;
				// border-bottom: 1px solid  $border-color;
				.item__button {
					position: static;
				}
			}
			.price__row_title {
				color: $title-text-color;
			}
			.price__line {
				margin: 0 auto;
				width: 95%;
				height: 1px;
				background-color: $border-color;
			}
		}
		.price__description {
			padding-left: 24px;
			width: 460px;
		}
		.price__get {
			padding: 0 24px;
		}
	}
	.footer {
		.footer__container {
			padding: 0 24px;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			p {
				width: 30%;
				&:first-child {
					text-align: left;
				}
				&:last-child {
					text-align: end;
				}
			}
		}
	}
}
