@import "variables.scss";

.modal-call {
	position: absolute;
	right: -320px;
	top: 0;
	width: 320px;
	height: 100vh;
	background-color: $block-bg;
	transition: 0.5s ease;
	z-index: 0;
	.modal-call__overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}

	.modal-call__container {
		height: 100vh;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		margin: 0 auto;
		row-gap: 16px;
		padding: 24px 16px 0;
		z-index: 10;
		background-color: $block-bg;
		box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
		.modal-call__close {
			display: block;
			position: relative;
			@extend %icon;
			align-self: flex-start;
			margin-bottom: 24px;

			&:hover {
				@extend %transition;
			}
			&::after,
			&::before {
				content: "";
				background-color: #ffffff;
				position: absolute;
				width: 51%;
				height: 2px;
				left: 10px;
			}
			&::before {
				top: 19px;
				transform: rotate(45deg);
			}
			&::after {
				bottom: 19px;
				transform: rotate(-45deg);
			}
			span {
				display: none;
				position: absolute;
				width: 25%;
				height: 2px;
				background-color: #ffffff;
				left: 11px;
				top: 19px;
			}
		}
		.modal-call__title {
			&::before {
				content: "";
				position: absolute;
				height: 40px;
				width: 4px;
				background-color: $hl-color;
				left: 0px;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
			h2 {
				font-family: TT Lakes;
				font-size: 2.4rem;
				line-height: 32px;
				letter-spacing: -0.6px;
				text-align: left;
				font-weight: 700;
			}
		}
		input {
			width: 100%;
			height: 48px;
			margin-bottom: 16px;
			padding: 12px 16px;
			background: #ffffff;
			border: 1px solid $border-color;
			border-radius: 8px;
		}
		textarea {
			width: 100%;
			height: 118px;
			padding: 12px 16px;
			background: #ffffff;
			border: 1px solid $border-color;
			border-radius: 8px;
		}
	}
	.modal-call__description {
		font-family: TT Lakes;
		font-size: 1.4rem;
		line-height: 16px;
		letter-spacing: 0px;
		text-align: left;
		color: $title-text-color;
		a {
			text-decoration: none;
			color: $icon-bg;
		}
	}
	.modal-call__button {
		font-family: TT Lakes;
		font-size: 12px;
		line-height: 24px;
		letter-spacing: -0.15px;
		text-align: center;
		text-transform: uppercase;
		width: 139px;
		align-self: flex-end;
		@extend %send-button;
		span {
			margin-left: 12px;
		}
	}
	.modal-call__overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}
.modal-call_opened {
	right: 0;
	.modal-call__container {
		box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
	}
	.modal-call__overlay {
		display: block;
		background-color: $block-bg;
		opacity: 0.96;
		z-index: -1;
	}
}
