@import "variables.scss";

.tech-types {
  border-top: 1px solid $hl-color;
  position: relative;
  margin-bottom: 25px;
  .tech-types__title {
    font-family: TT Lakes;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    padding: 16px 0;
    text-transform: uppercase;
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    margin-bottom: 30px;
  }
  h2 {
    padding: 0 16px;
  }
  .tech-types__list {
    padding: 0 16px;
    min-width: 320px;
    .tech-types__item {
      width: 240px;
      height: 160px;
      background-color: $block-bg;
      border: 1px solid $border-color;
      border-radius: 6px;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 16px;
      span {
        display: block;
        font-family: "TT Lakes";
        font-size: $titles-fz;
        line-height: 24px;
        letter-spacing: -0.2px;
        margin-right: 10px;
      }
    }
  }
  .tech-types__swiper {
    padding-bottom: 30px;
  }
  .tech-types__button {
    @extend %button;
    align-self: flex-end;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #b5b6bc;
  }
  .tech-types__swiper-pagination {
    bottom: 0;
  }
  .tech-types__readMore {
    display: none;
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    margin-left: 63px;
    position: relative;
    &::before {
      content: attr(data-icon);
      position: absolute;
      background-image: url("../img/icons/button_down.svg");
      left: -17px;
      top: 20%;
      width: 7.5px;
      height: 10.29px;
      transform: none;
      transition: all;
      transition-duration: 1000ms;
    }
  }
}
.down.tech-types__readMore::before {
  transform: rotate(180deg);
}
